%table.table
  %thead.thead-light
    %tr
      - @collection.fields.each do |order_by|
        - direction = params[:order_by] == order_by ? (params[:direction] == 'DESC' ? '▼' : '▲') : ''
        %th= link_to order_by + ' ' + direction, users_path(order_by: order_by, direction: (params[:direction] == 'DESC' ? 'ASC' : 'DESC'))
  %tbody
    - @collection.each do |user|
      %tr
        %th= link_to user['login'], user_path(user['login'])
        %th= user['games_w']
        %th= user['games_l']
        %th= user['games_w_l']
        %th= user['matches_w']
        %th= user['matches_l']
        %th= user['matches_w_l']
        %th= user['total_points']
        %th= user['average_points']
