= simple_form_for resource do |f|
  = f.input :rule, as: :select, collection: Game.rules.keys.to_a
  %center.h3 Teams
  #teams.row
    = f.simple_fields_for :team_teamables do |tt_form|
      .col-sm.card.m-3= render 'team_teamable_fields', f: tt_form
  = f.submit
