= simple_form_for resource do |f|

  - resource.errors[:teams].each do |error_teams| 
    = error_teams

  = f.input :rule, as: :select, collection: Game.rules.keys.to_a

  %center.h3 Teams
  #teams.row
    = f.simple_fields_for :teams do |team|
      .col-sm.card.m-3= render 'team_fields', f: team

  = f.submit
