%table.table
  %thead.thead-light
    %tr
      %th{:scope => "col"}
      %th{:scope => "col"} Rule
      %th{:scope => "col"} Team 1
      %th{:scope => "col"} Score 1
      %th{:scope => "col"} Score 2
      %th{:scope => "col"} Team 2
      %th Created at
  %tbody
    - collection.each do |game|
      %tr
        %th= render 'game_links', game: game
        %th= game.rule
        - team = game.teams.first
        %th{class: team.status}= team.users.pluck(:login).join(' & ')
        %th{class: team.status}= team.score 
        - team = game.teams.second
        %th{class: team.status}= team.score 
        %th{class: team.status}= team.users.pluck(:login).join(' & ') 
        %th= game.created_at
