= simple_form_for resource do |f|
  = f.input :rule, as: :select, collection: Match.rules.keys.to_a
  = f.input :games_rule, as: :select, collection: Game.rules.keys.to_a
  %center.h3 Teams
  #teams.row
    = f.simple_fields_for :t_one, resource.t_one do |team_form|
      .col-sm.card.m-3= render 'team_fields', f: team_form
    = f.simple_fields_for :t_two, resource.t_two do |team_form|
      .col-sm.card.m-3= render 'team_fields', f: team_form
  %center.h3 Games
  #games
    = f.simple_fields_for :games do |game_form|
      = render 'game_fields', f: game_form
    .links
      = link_to_add_fields 'add game', f, :games
  
  = f.submit
