%table.table
  %thead.thead-light
    %tr
      %th{:scope => "col"}
      %th{:scope => "col"} Rule
      %th{:scope => "col"} Team 1
      %th{:scope => "col"} Score 1
      %th{:scope => "col"} Score 2
      %th{:scope => "col"} Team 2
      %th Created at
  %tbody
    - collection.each do |match|
      %tr
        %th= render 'match_links', match: match
        %th= match.rule
        %th{class: match.first_team_status}= match.first_team.users.pluck(:login).join(' & ')
        %th{class: match.first_team_status}= match.first_team_points 
        %th{class: match.second_team_status}= match.second_team_points
        %th{class: match.second_team_status}= match.second_team.users.pluck(:login).join(' & ') 
        %th= match.created_at
